# SQL Básico com DuckDB

## Documentação da API em Python
Uma API (Application Programming Interface ou Interface de Programação de Aplicações) é um conjunto de regras e protocolos que permite que diferentes softwares se comuniquem entre si. Simplificando, uma API atua como um intermediário, permitindo que um aplicativo acesse dados ou funcionalidades de outro sem que o primeiro precise conhecer os detalhes internos do segundo. 
* [DuckDB Python API](https://duckdb.org/docs/stable/clients/python/overview)

In [ ]:
import duckdb

* [Connection Options](https://duckdb.org/docs/stable/clients/python/overview#connection-options)

In [ ]:
conn = duckdb.connect()

* [CREATE TABLE Statement](https://duckdb.org/docs/stable/sql/statements/create_table)

In [ ]:
conn.execute("""
    CREATE TABLE pessoas (
        nome TEXT,
        idade INTEGER,
        cidade TEXT
    );
""")

* [INSERT Statement](https://duckdb.org/docs/stable/sql/statements/insert)

In [ ]:
conn.execute("""
    INSERT INTO pessoas VALUES
        ('Ana', 22, 'Rio de Janeiro'),
        ('Bruno', 35, 'São Paulo'),
        ('Carla', 19, 'Belo Horizonte'),
        ('Daniel', 40, 'São Paulo'),
        ('Eduarda', 28, 'Curitiba');
""")

* [SELECT Statement](https://duckdb.org/docs/stable/sql/statements/select)

In [ ]:
display(conn.execute("""
    SELECT
        * 
    FROM pessoas
""").df())

* [WHERE Clause](https://duckdb.org/docs/stable/sql/query_syntax/where)

In [ ]:
display(conn.execute("""
    SELECT
        *
    FROM pessoas 
    WHERE idade > 30
""").df())

In [ ]:
display(conn.execute("""
    SELECT
        *
    FROM pessoas 
    WHERE idade IN (19, 40)
""").df())

In [ ]:
display(conn.execute("""
    SELECT
        *
    FROM pessoas 
    WHERE idade BETWEEN 22 AND 35
""").df())

* [Pattern Matching](https://duckdb.org/docs/stable/sql/functions/pattern_matching)

In [ ]:
display(conn.execute("""
    SELECT
        *
    FROM pessoas 
    WHERE nome LIKE '%a'
""").df())

* [ORDER BY Clause](https://duckdb.org/docs/stable/sql/query_syntax/orderby)

In [ ]:
display(conn.execute("""
    SELECT
        *
    FROM pessoas
    ORDER BY idade DESC
""").df())

* [LIMIT and OFFSET Clauses](https://duckdb.org/docs/stable/sql/query_syntax/limit)

In [ ]:
display(conn.execute("""
    SELECT
        *
    FROM pessoas
    LIMIT 3
""").df())

In [ ]:
display(conn.execute("""
    SELECT
        *
    FROM pessoas
    LIMIT 3
    OFFSET 2
""").df())

* [Aggregate Functions](https://duckdb.org/docs/stable/sql/functions/aggregates)

In [ ]:
display(conn.execute("""
    SELECT
        SUM(idade) as soma_das_idades
    FROM pessoas
""").df())

* [GROUP BY Clause](https://duckdb.org/docs/stable/sql/query_syntax/groupby)

In [ ]:
display(conn.execute("""
    SELECT
        cidade,
        COUNT(*) as total
    FROM pessoas
    GROUP BY cidade
""").df())

* [HAVING Clause](https://duckdb.org/docs/stable/sql/query_syntax/having)

In [ ]:
display(conn.execute("""
    SELECT
        cidade,
        COUNT(*) as total
    FROM pessoas
    GROUP BY cidade
    HAVING total = 1
""").df())

* [CASE Expression](https://duckdb.org/docs/stable/sql/expressions/case)

In [ ]:
display(conn.execute("""
    SELECT *,
        CASE
            WHEN idade < 25 THEN 'jovem'
            WHEN idade BETWEEN 25 AND 39 THEN 'adulto'
            ELSE 'idoso'
        END AS faixa_etaria
    FROM pessoas
""").df())

In [ ]:
conn.close()